.about-me {
  margin-bottom: 40px;
}

.about-me-profession {
  font-weight: 700;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-bottom: 20px;
}

.about-me-name {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.22;
  color: var(--title-text-color);
  margin-bottom: 25px;
}

.about-me-description {
  width: 400px;
  font-weight: 400;
  color: var(--primary-text-color);
}
