.my-work-experiense {
  background-color: var(--primary-white-color);

  &__position {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 10px;
  }

  &__period {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #a8a8a8;
    margin-bottom: 10px;
  }

  &__company {
    color: var(--secondary-title-color);
  }

  &__divider {
    color: var(--title-text-color);
  }

  &__duty {
    font-weight: 400;
    color: var(--primary-text-color);
  }
}

.my-work-one {
  margin-bottom: 20px;
}

.my-work-two {
  margin-bottom: 20px;
}

.my-work-three {
  margin-bottom: 40px;
}

//education
.my-education-text {
  margin-bottom: 10px;
  line-height: 1.2;
  font-weight: 700;
}
.my-education-in-university {
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}
