.my-projects {
  margin: 0 0 50px 0;
}

.my-projects-list {
  margin: 0 0 0 18px;
}

.my-projects-item {
  color: var(--title-text-color);
  font-weight: 700;
}

.my-projects-text {
  color: var(--primary-text-color);
  font-weight: 400;
  margin-left: 5px;
}

.my-projects-link {
  color: var(--primary-text-color);
  font-weight: 400;
}

.my-projects-brecket {
  font-weight: 700;
  color: var(--title-text-color);
}
