.my-projects {
  margin: 0 0 50px 0;

  &__list {
    margin: 0 0 0 18px;
  }

  &__item {
    color: var(--title-text-color);
    font-weight: 700;
  }

  &__text {
    color: var(--primary-text-color);
    font-weight: 400;
    margin-left: 5px;
  }

  &__link {
    color: var(--primary-text-color);
    font-weight: 400;
    transition: var(--transition);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__brecket {
    font-weight: 700;
    color: var(--title-text-color);
  }
}
