.container {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1200px;
  background-color: var(--primary-white-color);
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
