// цвет основного текста #595959;
// вторичный цвет текста #212121;
// белый #ffffff;
// акцент #2196F3;
// фон для сайдбара #1e2939;
// вторичный цвет фона #F5F4FA;
// вторичный акцент #2F303A;
// цвет кнопки акцент  #2196F3;
// цвет кнопки для ховера  #188CE8;
// вторичный фон кнопки #f5f4fa;
// черный цвет #000000;

:root {
  --primary-text-color: #595959;
  --title-text-color: #000000;
  --secondary-title-color: #fb6d3a;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-color-sidebar: #1e2939;
}
